.panel
	:markdown
		# About
		StockTrade is a strategic stock market simulation game. Developed by [Pablo Merino](http://pmerino.me).

		**But why there are so little companies?** Having all of the NASDAQ and NYSE companies was an overhead, and took ages to update, so I made a selection of NASDAQ, NYSE, FTSE and IBEX35. If you want me to add another company, just [mail me](mailto:pablo.perso1995@gmail.com) and I'll add it (I'll need the company symbol, name and stock market).