.panel
	%h1 StockTrade
	%p StockTrade is a strategic stock exchange simulation game.
	= link_to 'Sign in', new_user_session_path, :class => "large success button"
	= link_to 'Sign up', new_user_registration_path, :class => "large success button"
	